{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <h5>Parceiro</h5>
        <h6><strong>Dados do Parceiro</strong></h6>

    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row ">
            <div class="col-md-3">
                {{form.nome|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.telefone|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.email|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.ativo|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.quantidade_clientes|as_crispy_field}}
            </div>
        </div>


            <h6><strong>Endereço do Parceiro</strong></h6>
        <hr>
        <div class="row">
            <div class="col-md-3">
                {{form.cep|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.endereco|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.numero|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.complemento|as_crispy_field}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{form.bairro|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.cidade|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.estado|as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.pais|as_crispy_field}}
            </div>
        </div>

        <div class="row border border-dark">
            {% if request.user.funcionario.empresa.ativo %}
            <div class="col-md-8 mt-1 mb-1">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Gravar
                </button>
            </div>
            {% endif %}
            <div class="col-md-4 mt-1 mb-1">
                <a href="{% url 'funcionarios:funcionario_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Volta para a Lista
                </a>
            </div>
        </div>
    </form>
{% endblock %}