{% extends 'base.html' %}

{% block content %}
   <h1 class="text-center">Painel da Empresa</h1>
    {% if empresa.ativo %}
     <ul>
          <li>
        <a href="{% url 'funcionarios:funcionario_list' %}">Funcionários</a>
               </li>
          <li>
        <a href="{% url 'clientes:cliente_list' %}">Clientes</a>
          </li>
        <li>Produtos</li>
        <li>Pedidos</li>
        <li>Caixa</li>
    </ul>
    {% else %}
        <p class="text-center bg-warning"><strong>Empresa temporariamente Inativa</strong></p>
        <p class="text-center bg-warning">Mensagem: <strong>{{ empresa.razao_para_inativar }}</strong></p>
    {% endif %}

{% endblock %}